<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <section class="sub-header">
      <nav>
        <div class="sub-nav-links">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="visualization">Visualizations</a></li>
            <li><a href="lyrics_analysis">Lyrics Analysis</a></li>
            <li><a href="about">About Us</a></li>
          </ul>
        </div>
      </nav>
    <div class="sub-text-box">
      <h1>Visualization</h1>
    </div>
    </section>
    <!-- Optional: Add a Tableau embedded HTML page -->
    <!-- Tableau visualization -->
        </div>
    </section>

</body>
</html>



    <!-- Optional: Add a footer -->

    <!-- Optional: Add scripts at the end of the body -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj