absl-py==1.3.0
anaconda-navigator==2.1.4
appdirs==1.4.4
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.4.0
backports.weakref==1.0.post1
bkcharts==0.2
black==19.10b0
brotlipy==0.7.0
certifi==2021.10.8
citipy==0.0.5
clyent==1.2.2
comtypes==1.1.10
conda==4.12.0
conda-build==3.21.8
conda-verify==3.4.2
config==0.5.1
constantly==15.1.0
cssselect==1.1.0
cytoolz==0.11.0
daal4py==2021.5.0
datashape==0.5.4
et-xmlfile==1.1.0
exceptiongroup==1.0.0rc9
flatbuffers==23.1.4
fonttools==4.25.0
gast==0.4.0
geojson==2.5.0
gmaps==0.9.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
h11==0.14.0
inflection==0.5.1
kdtree==0.16
keras==2.11.0
keras-tuner==1.1.3
kt-legacy==1.0.4
libclang==14.0.6
llvmlite==0.38.0
mccabe==0.6.1
mkl-fft==1.3.1
mkl-service==2.4.0
mpmath==1.2.1
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.2.1
oauthlib==3.2.2
opt-einsum==3.3.0
outcome==1.2.0
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
Pillow==9.0.1
protobuf==3.19.1
pyasn1-modules==0.2.8
pycosat==0.6.3
pycurl==7.44.1
PyDispatcher==2.0.5
pyls-spyder==0.4.0
pymongo==4.2.0
pyreadline==2.1
pytest==7.1.1
python-dotenv==0.21.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytz==2021.3
pywin32==302
PyYAML==6.0
queuelib==1.5.0
redis==4.4.0
requests-oauthlib==1.3.1
scikit-learn-intelex==2021.20220215.102710
splinter==0.18.1
spotipy==2.22.0
statsmodels==0.13.2
tables==3.6.1
tabulate==0.8.9
TBB==0.2
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==2.2.0
trio==0.22.0
trio-websocket==0.9.2
webdriver-manager==3.8.3
webencodings==0.5.1
win-unicode-console==0.5
wincertstore==0.2
wsproto==1.2.0
xlwings==0.24.9
zict==2.0.0

