<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css')}}" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <section class="viz-header">
      <nav>
        <div class="viz-nav-links">
          <ul>
            <li><a href="/">Genre Predictor</a></li>
            <li><a href="visualization">Music Features</a></li>
            <li><a href="lyric_gen">Lyric Generator</a></li>
            <li><a href="lyrics_analysis">Lyrics Analysis</a></li>
            <li><a href="about">Meet the Team</a></li>
          </ul>
        </div>
      </nav>
    <div class="viz-text-box">
      <h1>Meet The Team</h1>
    </div>
    </section>

<!-- About Us Content -->
    <section class="about-header">

                  <div class="wrapper">
                    <div class="card">
                      <img src="static/panda.png">
                      <div class="info">
                        <h2>Kristy Le</h2>
                        <p class="title">
                          <p>lekristy129@gmail.com<br>
                            <br>
                            <b>Training Coordinator | OC Workforce Solutions</b></p>
                          <p>Recent recipient of the Data Analytics certificate from UCI with a Bachelor of Science in Statistics. 
                            Currently seeking an analyst position with an emphasis in data science.</p>
                        <a href="#"><button class="btn" onclick="window.open('https://www.linkedin.com/in/le-kristy/')">LinkedIn</a></button>
                      </div>
                    </div>
                  </div>
                  
                <div class="wrapper">
                    <div class="card">
                      <img src="static/shiba.png">
                      <div class="info">
                        <h2>Emilio Guzman</h2>
                        <p class="title">
                          <p>emillio3198@gmail.com<br>
                            <br>
                            <b>Bachelor of Arts, Psychology | CSULB</b></p>
                          <p>Recent recipient of the Data Analytics certificate from UCI. 
                            Currently seeking an analyst position, with an emphasis in data engineering.</p>
                        <p>jane@example.com</p>
                        <a href="#"><button class="btn" onclick="window.open('https://www.linkedin.com/in/jeremiaheugenio/')">LinkedIn</a></button>
                      </div>
                    </div>
                  </div>

                  <div class="wrapper">
                    <div class="card">
                      <img src="static/corgi.png">
                      <div class="info">
                        <h2>Jeremiah Eugenio</h2>
                        <p class="title">
                          <p>jeugenio103@gmail.com<br>
                            <br>
                            <b>Mechanical Engineer | Hyundai Mobis</b></p>
                          <p>Recent recipient of the Data Analytics certificate from UCI. 
                            Currently seeking an analyst position within the gaming or healthcare industry.</p>
                        <a href="#"><button class="btn" onclick="window.open('https://www.linkedin.com/in/jeremiaheugenio/')">LinkedIn</a></button>
                      </div>
                    </div>
                  </div>

                  <div class="wrapper">
                    <div class="card">
                      <img src="static/cat.png">
                      <div class="info">
                        <h2>Evelyn Votran</h2>
                        <p class="title">
                          <p>evelynvotran@gmail.com<br>
                            <br>
                            <b>Bachelor of Arts, Consumer Affairs | CSULB</b></p>
                        <p>Recent recipient of the Data Analytics certificate from UCI. 
                          Currently seeking an analyst position, with an emphasis in business or consumer insights.</p>
                        <a href="#"><button class="btn" onclick="window.open('https://www.linkedin.com/in/evelynvotran/')">LinkedIn</a></button>
                      </div>
                    </div>

                  </div>

                  <div class="wrapper">
                    <div class="card">
                      <img src="static/elephant.png">
                      <div class="info">
                        <h2>Samantha Seng</h2>
                        <p class="title">
                          <p>samantha.seng2@gmail.com<br>
                            <br>
                            <b>EEO Officer | Caltrans D7</b></p>
                        <p>Recent recipient of the Data Analytics certificate from UCI. 
                          Currently seeking a data or business analyst position within the healthcare industry or related.</p>
                        <a href="#"><button class="btn" onclick="window.open('https://www.linkedin.com/in/samantha-seng1/')">LinkedIn</a></button>
                      </div>
                    </div>
                  </div>
</body>
</html>