<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css')}}" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap" rel="stylesheet">
  </head>
<body>
    <div class="block glow">
      <section class="header">
        <nav>
          <div class="nav-links">
            <ul>
              <li><a href="/">Genre Predictor</a></li>
              <li><a href="visualization">Music Features</a></li>
              <li><a href="lyric_gen">Lyric Generator</a></li>
              <li><a href="lyrics_analysis">Lyrics Analysis</a></li>
              <li><a href="about">Meet the Team</a></li>
            </ul>
          </div>
        </nav>
    </section>
<!-- Input bar and output display -->
  <div class="text-box">
  <h1>Genre Predictor</h1>
    <script>
      function showPrediction() {
        document.getElementById('prediction-output').style.display = 'block';
      }
    </script>

    </script>

    <style> 
      #prediction-output {
      font-size: 35px;
      font-weight: bold;
      text-align: center;
      padding-left: 15px;
    }
    p{
      padding-top: 15px;
      font-size: 25px;
      font-weight: bold
    }</style>

    <div class="container-1"> 
      <!-- <div class=“row justify-content-center”> -->
        <div class=“search-bar-1”>
            <form method="post" action="predict">
              <input type="text" placeholder="Search Name of Song" name="input">
              <button type="submit" id="button-submit">Predict<img src="static\search.png"></button>
              <!-- <input type="submit" id="button-submit" value="Predict"> -->
            </form>
            <p>Prediction: <span id=“prediction-output”>{{ prediction_string }}</span></p>
          </div>
        </div>
      </div>
    </div>
</body>
